@model IEnumerable<libraryCataloger.Models.BookViewModel>

@{
    ViewBag.Title = "Index";
}
<div >
    @Html.ActionLink("Посмотреть читателей", "Index", "Customers") |
    @Html.ActionLink("Посмотреть учет выдачи и сдачи", "Check", "BorrowHistories")
</div>
<p>
    @using (Html.BeginForm())
    {
        <h5>Поиск:</h5>
        <div class="active-cyan-4 mb-2">
            @Html.TextBox("searchTitle", "", new { placeholder = "По книге", @class = "form-control" })
        </div>
        <div class="active-cyan-4 mb-2">
            @Html.TextBox("searchAuthor", "", new { placeholder = "По автору", @class = "form-control" })
        </div>
        <div class="active-cyan-4 mb-2">
            @Html.TextBox("searchPublisher", "", new { placeholder = "По издателю", @class = "form-control" })
        </div>

        <button type="submit" class="btn btn-default" type="submit">Поиск</button><br />
    }
    @Html.ActionLink("Добавить книгу", "Create")
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher)
                </td>
                <td>
                    @if (item.IsAvailable)
                    {
                        <span>
                            @Html.ActionLink("Выдать", "Create", "BorrowHistories", new { id = item.BookId }, new { @class = "btn btn-primary" })
                        </span>
                    }
                    else
                    {
                        <span>
                            @Html.ActionLink("Принять", "Edit", "BorrowHistories", new { id = item.BookId }, new { @class = "btn btn-success" })
                        </span>
                    }
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.BookId }) <br />
                    @Html.ActionLink("Подробнее", "Details", new { id = item.BookId }) <br />
                    @Html.ActionLink("Удалить", "Delete", new { id = item.BookId })
                </td>
            </tr>
        }

    </table>
