@model libraryCataloger.Models.LoginModel

@{
    ViewBag.Title = "Login";
}

<h2>Вход на сайт</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary()
        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
        <p>Войти как Админ для примера: Имя- vlad, пароль-Vlad9_ </p>
        <p>
            <label>Email</label><br />
            @Html.EditorFor(x => x.UserName, new { htmlAttributes = new { @class = "form-control" } })
        </p>
        <p>
            <label>Пароль</label><br />
            @Html.EditorFor(x => x.Password, new { htmlAttributes = new { @class = "form-control" } })
        </p>
        <p><button type="submit">Войти</button></p>
    </div>
}

